{% extends 'base.html.twig' %}

{% block body %}
    <h1>Upload des images</h1>

    <form action="{{ path('api_upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="files[]" multiple>
        <button type="submit">Uploader</button>
    </form>

    <h2>Images uploadées</h2>
    <ul>
        {% for upload in uploads %}
            <li>
                <img src="{{ upload.url }}" alt="Image uploadée par {{ upload.uploadedBy.username }}">
            </li>
        {% endfor %}
    </ul>
{% endblock %}